.btn {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.75px;
  outline: none;
  padding: 6px 10px;
  text-decoration: none;
  transition: filter 0.2s;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn-primary {
  background: #1f82e6;
  color: #ebebeb;
}

.btn-secondary {
  background: #d6d6d6;
  color: #131313;
}

.btn-alert {
  background: #e6261f;
  color: #ebebeb;
}

.btn-accent {
  background: #34a316;
  color: #ebebeb;
}

.btn--controls {
  align-items: center;
  display: flex;
  gap: 5px;
  padding-block: 1rem;
}

.btn--controls .btn {
  height: 100%;
}

.btn.login {
  outline: 1px solid #131313;
  color: #131313;
  transition: background-color 0.2s ease;
}

.btn.login:hover {
  background: #131313;
  color: #ebebeb;
}

.btn.logout {
  background: #131313;
  color: #ebebeb;
}
