.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 1024px;
  user-select: none;
}

.nav__item a {
  all: unset;
  cursor: pointer;
}

.nav,
.nav__menu,
.nav__item,
.nav__item a {
  height: 100%;
}

.nav__menu {
  display: flex;
}

.nav__item a {
  align-items: center;
  display: flex;
  padding-inline: 0.75rem;
  transition: all 0.2s ease-in-out;
}

.nav__item a:hover {
  background-color: #e6e6e6;
  border-bottom: 1px solid #111;
  height: calc(100% - 1px);
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__links p {
  font-size: 14px;
  padding: 5px;
}

.nav__title a {
  all: unset;
  cursor: pointer;
  white-space: nowrap;
}

.nav__item a {
  white-space: nowrap;
}

.search-bar__wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  margin-block: auto;
}

.search-bar__wrapper input {
  all: unset;
  padding: 10px 0 10px 10px;
  max-width: 105px;
  border-radius: 5px;
}
.search-bar__wrapper label {
  display: flex;
  background: #efefef;
  border-radius: 100px;
}

.search-bar__wrapper button[type='submit'] {
  all: unset;
  cursor: pointer;
  background-image: url('../images/search.png');
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
